* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 10px;
    background-color: #201927;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

header{
    .marca {
        display: flex;
        text-align: center;
        padding: 10px;
        margin: 0;
        text-align: center;
        h2{
            letter-spacing: 2px;
            color: white;
            font-weight: bolder;
        }
        strong {
            font-size: 10px;
            letter-spacing: 2px;
            color: #fc1517;
        }
    }

    .navbar{
        display: flex;
        align-items: center;
        border: white solid 3px;
        background-color: #201927;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        ul {
            list-style: none;
            display: flex;
            gap: 20px;
            padding: 10px;
            margin: 0;
        }
    
        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
            letter-spacing: 2px;
        }
        li{
            transition: .5s;
        }
        li:hover{
            transform: scale(1.1);
            text-decoration: underline #fc1517;
        }
    }
}
.master_section{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    width: 100%;
    background-image: url(/src/Picture/1009981.jpg);
    background-size: cover;
    box-shadow: 0px 0px 10px 0px #fc1517;
    border-radius: 10px;
    h1{
        padding-top: 150px;
        color: white;
        font-weight: bolder;
        letter-spacing: 2px;
    }
    p{
        color: white;
        letter-spacing: 3px;
    }
}
main {
    display: flex; 
    flex-wrap: wrap;   
    gap: 20px;             
    justify-content: center;
    padding: 20px;
    
}
.card{
    box-shadow: 0px 0px 10px 0px #fc1517;
    height: 400px;
    width: 400px;
    padding: 20px;
    .card_1{
        background-image: url(Picture/1022371.jpg);
        background-size: cover;
        height: 250px;
        width: 100%;
    }
    .text{
        padding: 20px;
        color: white;
        font-size: 15px;
    }
}

.conatiner-referencia{
    background:linear-gradient(150deg,#201927,#fc1517);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    display: flex;
    gap: 15px;
    height:500px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
}
h1{
    color: white;
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
}
h2{
    color: white;
    text-decoration: underline #fc1517;
}
button{
    padding: 10px;
    color:wheat;
    background-color: #201927;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    width: 100%;
}
input{
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-style: oblique;
}
button:hover{
    transform: scale(1.1);
    background:linear-gradient(1000deg,#201927,#fc1517);
}